body{
  background-color: rgb(200, 200, 255)
}
@keyframes moveAroundCornersLikeAGhost {
  0%   {left: 0%; top: 0%; opacity: 0.25; transform: rotate(0deg); filter: hue-rotate(0deg);}
  25%  {left: 90%; top: 0%; opacity: 1; transform: rotate(90deg); filter: hue-rotate(90deg);}
  50%  {left: 90%; top: 83%; opacity: 0.25; transform: rotate(180deg); filter: hue-rotate(180deg);}
  75%  {left: 0%; top: 83%; opacity: 1; transform: rotate(270deg); filter: hue-rotate(270deg);}
  100% {left: 0%; top: 0%; opacity: 0.25; transform: rotate(360deg); filter: hue-rotate(360deg);}
}
@keyframes getBigger {
  0%   {padding-top: 0px; padding-bottom: 0px;}
  1% {padding-top: 15px; padding-bottom: 15px; background-color: rgb(150, 150, 255);}
  100% {padding-top: 15px; padding-bottom: 15px; background-color: rgb(150, 150, 255);}
}
.title{
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 255);
  position: relative;
  left: 50%;
  margin-left: -250px;
  border-bottom: 5px solid rgb(150, 255, 255);
  width: 500px;
  margin-bottom: 30px;
}
.list{
  align-items: center;
  font-size: 25px;
  color: rgb(0, 0, 200);
  width: 400px;
  position: relative;
  left: 50%;
  margin-left: -200px;
}
#firstImage{
  position: relative;
  left: 50%;
  margin-left: -250px;
  opacity: 0;
  filter: drop-shadow(15px 15px 5px rgb(50, 50, 100)) contrast(200%);
}
#firstImage:hover{
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
}
#buttonDuck{
  position: relative;
  left: 50%;
  margin-left: -250px;
}
#movingDuck1{
  position: fixed;
  animation-name: moveAroundCornersLikeAGhost;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
form{
  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 200);
  width: 500px;
  position: relative;
  left: 50%;
  margin-left: -250px;
}
.textBox{
  width: 300px;
  padding-top: 6px;
  padding-bottom: 9px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 8px;
  background-color: rgb(175, 175, 255);
  color: rgb(0, 0, 200);
  font-size: 20px;
}
#ranking {
  font-size: 25px;
  color: rgb(0, 0, 200);
  width: 500px;
  position: relative;
  left: 50%;
  margin-left: -250px;
  border: 5px solid rgb(0, 0, 200);
  border-radius: 15px;
}
td{
  border: 5px solid rgb(0, 0, 200);
  border-radius: 15px;
}
td:hover{
  animation-name: getBigger;
  animation-duration: 100s;
}
#top{
  text-align: center;
  padding: 15px;
  color: rgb(0, 0, 150);
}
button{
  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 200);
  width: 250px;
  position: relative;
}
#duckButtons{
  position: relative;
  left: 50%;
  margin-left: -250px;
}
*{
  font-family: "Coiny";
}
