body{
  background-color: rgb(200, 200, 255)
}
@keyframes moveAroundCorners {
    0%   {left:0%; top:0%; opacity:0;}
    25%  {left:90%; top:0%; opacity: 1;}
    50%  {left:90%; top:83%; opacity: 0;}
    75%  {left:0%; top:83%; opacity: 1;}
    100% {left:0%; top:0%; opacity:0;}
}
#firstImage:hover{
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
}
.title{
  text-align: center;
  font-size: 25px;
  color: rgb(0,0,255);
  position: relative;
  left: 50%;
  margin-left: -250px;
  border-bottom: 5px solid rgb(150, 255, 255);
  width: 500px;
  margin-bottom: 30px;
}
#firstImage{
  position: relative;
  left: 50%;
  margin-left: -250px;
  opacity: 0;
}
#movingDuck1{
  position: fixed;
  animation-name: moveAroundCorners;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
*{
  font-family: verdana;
}
